@model DapperUi.Models.Student

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <h4>Student</h4>
    <hr />

    @if (Model.Id == -1)

    {
        <div class="jumbotron text-center"><h5>No Record Found........</h5></div>
    }
    else
    {

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
   